*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color:#fff ;
    text-decoration: none;      
}
#navbar .logo{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block; 
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.footer-otel{
    background: #333;
    text-align: center;
    padding: 10px;
    color: white;
}
#Contact-form .form-labels{
    margin-bottom: 20px;
}
#Contact-form label{
    display: block;
    margin-bottom: 5px;
}
#Contact-form input,
#Contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#Contact-form textarea{
    height: 200px;
}
#Contact-form input:focus,
#Contact-form textarea:focus{
    outline: none ;
    border-color: #f7c08a;
}
.form-p{
    padding: 30px;
}
.lrg-heading{
    font-size: 40px;
    line-height: 1.5rem;
}
.btn{
    display:inline-block ;
    font-size: 18px;
    color: #fff;
    padding: 13px 2opx;
    border: none;
    cursor: pointer;
    border-radius:5px ;
    transition: .6s ease;

}
.btn:hover{
    background: #f7c08a;
    color: #333;
}
#contact-info{

}
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;

}
.box i{
    margin-bottom: 10px
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
